.bookmark {
    position: relative;
    margin: 10px auto;
    width: 85%;

    .link {
        width: 230px;
        list-style: none;
        padding: 10px;
        display: inline-block;
        margin-left: 100px;
        font-size: 20px;
        border-bottom:  1px solid hsl(229, 8%, 60%);
        cursor: pointer;
        
        &:active {
        border-bottom:  7px solid hsl(0, 94%, 66%);
        }
        &:hover {
            color: hsl(0, 94%, 66%) ;
        }
    }
    .content{
        position: relative;
        display: flex;
       margin-top: 30px;
       margin-left: 50px;
       margin-bottom: 40px;
       &.active {
        display: block;
      }

       img {
           width: 30%;
           z-index: 100;
           margin-top: 20px;
           opacity: 0.9;
       }
       &_text {
           margin-top: 40px ;
           margin-left: 65px;
           width: 40%;

           h1{
            font-size: 2rem;
            margin-bottom: 9px;
            color: hsl(229, 31%, 21%) ;
        }
        p{
            color: hsl(229, 8%, 60%);
            font-size: 18px;
            margin-bottom: 20px;
        }
        button {
            padding: 10px;
            background-color: hsl(231, 69%, 60%);
            color: #fff;
            border-radius: 5px;
            border-color: transparent;

        }
       }

    }
    .background {
        width: 590px;
        height: 200px;
        background:hsl(231, 69%, 60%); 
        position: absolute;
        right: 933px;
        border-radius: 0 70px 70px 0;
        bottom: 0;
    }
}