.feature {
    margin: 10 auto;
    width: 85%;
    h1{
        font-size: 2rem;
            margin-bottom: 9px;
            color: hsl(229, 31%, 21%) ;
            text-align: center;
    }
    p{
        color: hsl(229, 8%, 60%);
        font-size: 20px;
        text-align: center;
        width: 50%;
        margin: 10px auto;
    
    }
}