.questions {
    width: 85%;
    margin: 10px auto;
    
    
    h1{
        font-size: 2rem;
        margin-bottom: 9px;
        color: hsl(229, 31%, 21%) ;
        text-align: center;
    }
    p{
        color: hsl(229, 8%, 60%);
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }
}