@import  "config";
@import "header";
@import "hero";
@import "feature";
@import "bookmark";
@import "download";
@import "question";


body {
    background: #fff;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    line-height: 1;
}

h1 h2 h3{
    font-weight: 400;
}
